<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 1. 컨트롤러 스캔: 오직 Controller 패키지만 스캔 -->
    <context:component-scan base-package="com.test.controller" />

    <!-- 2. 어노테이션 기반 컨트롤러 활성화 -->
    <mvc:annotation-driven />

    <!-- 3. 뷰 리졸버 설정 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 4. 정적 자원 설정 -->
    <mvc:resources mapping="/resources/**" location="/resources/" />

    <!-- 5. 인터셉터 설정 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/"/>           <!-- 로그인 페이지 -->
            <mvc:exclude-mapping path="/auth/**"/>    <!-- 로그인 처리 -->
            <mvc:exclude-mapping path="/resources/**" />
            <mvc:exclude-mapping path="/changeLang"/> <!-- 언어 변경 API -->
            <bean class="com.test.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>